In [1]:
from pyspark.sql import SparkSession
from pyspark import SparkConf
conf = SparkConf()
conf.set("spark.driver.allowMultipleContexts", "true")

filename = 'bank-full.csv'
spark = SparkSession.builder.master('local').appName("real_time_scoring_api").config(conf=conf).getOrCreate()
score_data = spark.read.csv(filename, header=True, inferSchema=True, sep=';')

In [2]:
sc = spark.sparkContext

In [3]:
spark.sparkContext.getConf().getAll()

[('spark.master', 'local'),
 ('spark.rdd.compress', 'True'),
 ('spark.app.id', 'local-1598392001629'),
 ('spark.driver.allowMultipleContexts', 'true'),
 ('spark.app.name', 'real_time_scoring_api'),
 ('spark.serializer.objectStreamReset', '100'),
 ('spark.driver.port', '39017'),
 ('spark.executor.id', 'driver'),
 ('spark.submit.deployMode', 'client'),
 ('spark.driver.host', '4d1fc5668b88'),
 ('spark.ui.showConsoleProgress', 'true')]

In [4]:
input_x = score_data.toJSON().first()

In [5]:
final_list = []
if type(input_x) == str:
    final_list.append(input_x)
else:
    final_list.extend(input_x)

In [6]:
final_list

['{"age":58,"job":"management","marital":"married","education":"tertiary","default":"no","balance":2143,"housing":"yes","loan":"no","contact":"unknown","day":5,"month":"may","duration":261,"campaign":1,"pdays":-1,"previous":0,"poutcome":"unknown","y":"no"}']

In [7]:
score_data.describe().toPandas()

,summary,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,count,45211,45211,45211,45211,45211,45211,45211,45211,45211,45211,45211,45211,45211,45211,45211,45211,45211
1,mean,40.93621021432837,None,None,None,None,1362.2720576850766,None,None,None,15.80641879188693,None,258.1630797814691,2.763840658246887,40.19782796222158,0.5803233726305546,None,None
2,stddev,10.618762040975405,None,None,None,None,3044.7658291685257,None,None,None,8.322476153044594,None,257.5278122651706,3.098020883279192,100.12874599059828,2.303441044931218,None,None
3,min,18,admin.,divorced,primary,no,-8019,no,no,cellular,1,apr,0,1,-1,0,failure,no
4,max,95,unknown,single,unknown,yes,102127,yes,yes,unknown,31,sep,4918,63,871,275,unknown,yes

In [22]:
score_data.toPandas()['poutcome'].unique()

array(['unknown', 'failure', 'other', 'success'], dtype=object)

In [ ]:
df = spark.read.json(sc.parallelize(final_list))

In [ ]:
df.show()

In [ ]:
from helper import *

In [ ]:
final_scores_df = score_new_df(df)
pred = final_scores_df.toPandas()
final_pred = pred.to_dict(orient='rows')[0]

In [ ]:
%%timeit
final_scores_df = score_new_df(df)
final_scores_df.toJSON().first()

In [ ]:
from pyspark.ml.classification import RandomForestClassifier

In [ ]:
RandomForestClassifier.load(sc)

In [ ]:
from pyspark import SparkContext

In [ ]:
import os
os.scandir('real_time_scoring/')

In [ ]:
import os

def list_files(startpath = 'real_time_scoring/'):
    for root, dirs, files in os.walk(startpath):
        level = root.replace(startpath, '').count(os.sep)
        indent = ' ' * 4 * (level)
        print('{}{}/'.format(indent, os.path.basename(root)))
        subindent = ' ' * 4 * (level + 1)
        for f in files:
            print('{}{}'.format(subindent, f))

In [ ]:
list_files()